@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

#header{
    background-color: black;
}

#navbarh1{
    color:white;
    margin-left: 15px;
}

#description{
    color:white;
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
    margin-right: 850px;
    margin-left: 50px;
    text-align: left;
}

#listmain{
    list-style-type: square;
    color:white;
    font-family: 'Oswald', sans-serif;
    margin-right: 50px;
    margin-left: 50px;
    text-align: left;
    font-size: 20px;
}

#titlemain{
    align-content: center;
    text-align: center;
    color:white;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
}

#svg{
    color: white;
    align-content: center;
    text-align: center;
}

nav {
    background-color: transparent;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.slide-in {
    position: absolute;
    animation: slideIn 7s ease-out;
}

@keyframes slideIn {
    from {
        right: -55%;
    }
    to {
        right: 10%;
    }
}

.slide-in {
    right: 10%;
}
