@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@font-face {
    font-family: astro-dw;
    src:url("astro.ttf");
}

#header{
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
}

.row{
    position: relative;
}

.col-sm{
    position: relative;
}

#navbarh1{
    font-family: astro-dw;
    font-size: 25px;
    color:white;
    margin-left: 15px;
}


canvas{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}

#mainvideo{
    display: none;
}

 #description{
    position: relative;
    background: transparent;
     font-size: 21px;
    z-index: 0;
    color:white;
     font-family: 'Rubik', sans-serif;
    margin-right: auto;
     margin-top: auto;
     margin-bottom: auto;
     margin-left: 8px;
}

#referallinks{
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#listmain{
    list-style-type: square;
    color:white;
    font-family: 'Rubik', sans-serif;
    margin-right: 50px;
    margin-left: 50px;
    text-align: left;
    font-size: 20px;
}

#titlemain{
    align-content: center;
    text-align: center;
    color:white;
    font-family: 'Rubik', sans-serif;
    text-decoration: underline;
}

#svg{
    color: white;
    align-content: center;
    text-align: center;
}

#hr {
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#apl {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: white;
    align-content: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

#bigapl{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    max-width: 600px;
    margin: auto;
    align-content: center;
    text-decoration: none;
}

/* Other tabs infobox */

#infobox{
}

#img-section {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    height: 350px;
    border-radius: 8px;
}

#img-section-planets {
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 900px;
    height: 500px;
    border-radius: 8px;
}

#img-section-map{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 1028px;
    height: 1028px;
    border-radius: 8px;
}


#infoboxtitle{
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    color: white;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
    align-content: center;
    position: relative;
}

#infoboxh3{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
    align-content: center;
    position: relative;
}


#infoboxdesc {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    align-content: center;
    position: relative;
}

/* First CSS Code */
.dropdown:hover > .dropdown-menu,
.dropdown-item:hover > .dropdown-menu {
    display: block;
    font-family: 'Rubik', sans-serif;
}

ul li {
    list-style-type: none;
    display: inline;
}

.navbar-nav .nav-link {
    display: inline-block;
}

.ml-auto {
    display: inline-block !important;
}

.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}

/* Second CSS Code Integration */
#navbarResponsive {
    overflow: hidden;
    position: relative;
    background-color: transparent;
    z-index: 9999;
    text-align: left; /* Align text to the left */
}

#dropdown-menu-div {
    background: transparent;
}

#navbarResponsive ul {
    padding: 0;
    margin: 0;
    list-style: none; /* Remove default list styling */
}

#navbarResponsive li {
    display: block; /* Display list items as blocks */
}

#navbarResponsive a,
#navbarResponsive .dropbtn {
    display: inline-block; /* Display as inline-block */
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

#navbarResponsive a:hover,
#navbarResponsive .dropbtn:hover,
#navbarResponsive .dropdown-item:hover {
    display: inline-block;
    background-color: #ddd;
    color: black;
}

#planetsection{
    overflow: hidden;
    height: auto;
}

/* End Credits */

#credits{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

#bottomcredits {
    font-size: 12px;
    color:white;
    margin-left: 15px;
    align-content: center;
    text-align: left;
    font-family: 'Rubik', sans-serif;
}

.stories-button {
    position: relative;
    margin: auto;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
}

.stories-button:hover {
    background-color: #ffffff;
    color: black;
}

.back-button {
    position: fixed;
    margin: auto;
    right: auto;
    background-color: transparent;
    color: #fff;
    padding: 10px 5px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
}

.redirect-button {
    position: fixed;
    margin: auto;
    right: auto;
    background-color: transparent;
    color: #fff;
    padding: 10px 5px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #ffffff;
    color: black;
}

.button1 {
    bottom: 20px;
    right: 0px;
}

.button2 {
    bottom: 20px;
    right: 125px;
}

.redirect-button:hover {
    background-color: #ffffff;
    color: black;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: 900px;
    height: 900px; /* Set a maximum height as needed */
    margin-left: 120px;
    overflow: hidden; /* Hide overflow content */
}

.slide {
    display: none;
    animation: fade 8s ease-in-out infinite;
}

.fade {
    animation-fill-mode: forwards; /* Keeps the last frame of the animation */
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1.4; /* Begin fade in at 25% of the animation duration */
    }
    75% {
        opacity: 1; /* Maintain full opacity until 75% of the animation duration */
    }
    100% {
        opacity: 0;
    }
}