@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

#header{
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: scroll;
}

#navbarh1{
    color:white;
    margin-left: 15px;
}

#mainvideo{
    position: absolute;
    text-align: right;
    overflow: hidden;
    margin-left: 120px;
    width: 800px;
    height: 800px;
}

#description{
    position: fixed;
    color:white;
    font-family: 'Oswald', sans-serif;
    margin-top: 25px;
    margin-right: auto;
    margin-left: 15px;
    max-width: 780px;
    text-align: left;
}

#referallinks{
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#listmain{
    list-style-type: square;
    color:white;
    font-family: 'Oswald', sans-serif;
    margin-right: 50px;
    margin-left: 50px;
    text-align: left;
    font-size: 20px;
}

#titlemain{
    align-content: center;
    text-align: center;
    color:white;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
}

#svg{
    color: white;
    align-content: center;
    text-align: center;
}

hr {
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#apl {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    align-content: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

#bigapl{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    max-width: 600px;
    margin: auto;
    align-content: center;
    text-decoration: none;
}

/* Other tabs infobox */

#infobox{
}

#img-section {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    height: 350px;
    border-radius: 8px;
}

#img-section-planets {
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 900px;
    height: 500px;
    border-radius: 8px;
}


#infoboxtitle{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    color: white;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
    align-content: center;
    position: relative;
}

#infoboxh3{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
    align-content: center;
    position: relative;
}


#infoboxdesc {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    align-content: center;
    position: relative;
}

nav {
    overflow: hidden;
    background-color: transparent;
}

nav a, .dropbtn {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover, .dropbtn:hover {
    background-color: #ddd;
    color: black;
}

body {
    background-color: #000;
    margin: 0;
    overflow: hidden;
}

#planetsection{
    overflow: hidden;
    height: auto;
}

/* End Credits */

#credits{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

#bottomcredits {
    font-size: 12px;
    color:white;
    margin-left: 15px;
    align-content: center;
    text-align: left;
    font-family: 'Oswald', sans-serif;
}

.redirect-button {
    position: fixed;
    margin: auto;
    bottom: 20px;
    right: auto;
    background-color: transparent;
    color: #fff;
    padding: 10px 5px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button1 {
    bottom: 20px;
    right: 0px;
}

.button2 {
    bottom: 20px;
    right: 100px;
}

.redirect-button:hover {
    background-color: #ffffff;
    color: black;
}